#products{
    margin: var(--margin-left-and-right);
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 225px;
}




.cards_product{
    display: flex;
    gap: 60px;
    position: relative;
}

.product_title{
    position: relative;
}

.product_title h3{
    font-size: 38px;
}

.product_title h3::after{
    content: "";
    width: 27px;
    height: 2px;
    background-color: #FFf;
    position: absolute;
    top: -20px;
    left: 0;
    
}
.product_title h3::before{
    content: "";
    width: 27px;
    height: 2px;
    background-color: #FFf;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.card{
    width: 333px;
    height: 370px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.card .product_image{
    height: 50%;
    width: 100%;
    position: relative;

}

.card img{
    width: 394px;
    height: 394px;
    position: absolute;
    top:  -107px;
    right: -34px;
}

.card img.first_one{
    top: -68px;
}

.card i.heart{
    position: absolute;
    top: 148px;
    right: 60px;
}

.card .text_card{
    margin-left: 45px;
    margin-top: 20px;
}

.card .text_card p {
    font-size: 25px;
    font-weight: 500;
}

.text_card .price{
    display: flex;
    gap: 118px;
    margin-top: 20px;
}

.text_card .price span{
    font-size: 22px;
}
.text_card .price i{
    font-size: 24px;
}



.pages_2{
    display: flex;
    gap: 15px;
    margin-top: 22px;
    margin-bottom: 36px;
}
.pages_2 span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .65);
}
.pages_2 span.active{
    width: 50px;
    border-radius: 16px;
}